html {
  box-sizing: border-box;
  overflow-x: hidden;
}
.wrapper {
  margin-top: 200px;
}

.header {
  width: 98vw;
  text-align: center;
  font-size: 35px;
}

.aboutWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  padding: 25px;
  margin: auto;
  padding-bottom: 100px;
}

.aboutImg {
  width: 95%;
  height: 60vh;
}

.aboutDescriptionWrapper {
  margin: 20px 50px;
}

.footerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  height: 20vh;
}
